[Unit]
Description=Mój Warsztat - backup
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/moj-warsztat-backup
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
